.additional-products {
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    border-top: 3px solid @green;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 91px 0 85px;
  }
}

.additional-products__wrapper {
  @media (min-width: @desktop-width) {
    margin: 80px auto 0;
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.additional-products__header {
  margin: 30px 20px -12px 0;
  padding: 0 6%;
  width: 71%;
  max-width: 240px;
  .regular-font(24px; 24px; 400);
  position: relative;
  background-color: @white;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-top: -25px;
    margin-left: 28px;
    padding: 0 35px 0 39px;
    .regular-font(36px; 36px; 400);
    min-width: 340px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -117px;
    margin-left: calc((100% - 1300px) / 2);
  }
}

.additional-products__list {
  .list-reset ();

  @media (max-width: @mobile-width-only) {
    border-top: 3px solid @green;
    margin: 0;
    padding-top: 43px;
  }

  @media (min-width: @tablet-width) {
    margin: 82px 30px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 895px;
    align-items: center;
  }
}

.additional-products__item {
  .mobile-center();
  padding-top: 0;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding: 25px 38px 27px;
    width: 100%;
    border: 1px solid @border-grey;
    border-bottom: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 0 16px;
    align-items: center;
    border: none;
    border-top: 1px solid @border-grey;
  }

  &:last-child {
    border-bottom: 1px solid @border-grey;
  }
}

.additional-products__link {
  text-decoration: none;
  color: @black;
  text-transform: uppercase;
  display: block;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: auto;
    width: 160px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    width: 223px;
  }
}

.additional-products__title {
  margin: 0;
  .regular-font(16px; 16px; 400);


  @media (min-width: @tablet-width) {
    .regular-font(20px; 20px; 400);
  }
}

.additional-products__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @border-grey;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 5px;
    width: 615px;
  }
}

.additional-products__description p {
  margin: 0;
  font-family: "Arial", sans-serif;
  .regular-font(14px; 14px; 400);
  color: #444444;

  @media (min-width: @tablet-width) {
    .regular-font(16px; 20px; 400);
    padding-top: 3px;
  }
}

.additional-products__field {
  @media (min-width: @tablet-width) {
    text-align: right;
    width: 137px;
    padding-right: 3px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding-right: 0;
  }
}

.additional-products__value {
  @media (min-width: @tablet-width) {
    width: 93px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 47px;
    text-align: left;
  }
}

.additional-products__button {
  .regular-font(16px; 20px; 400);
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 40px;
    margin-top: 7px;
    padding: 11px 10px 10px 7px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 245px;
  }
}

.additional-products__present {
  margin: 38px auto 36px;
  background-color: #6fb346;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 88%;
  height: 289px;
  position: relative;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 92%;
    height: 200px;
    margin: 68px auto 75px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 245px;
    height: 289px;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.additional-products__presents-description {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: @white;
  .regular-font(16px; 20px; 400);
  padding: 188px 55px 42px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 61px;
    background-image: url("../img/gift-icon.svg");
    left: 50%;
    transform: translate(-50%);
    top: 65px;
  }

  @media (min-width: @tablet-width) {
    padding: 72px 120px 69px 423px;
    text-align: left;

    &::before {
      left: 118px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 187px 40px 40px;
    text-align: center;

    &::before {
      left: 123px;
    }
  }
}
