.contacts--inner-page {
  background-color: @lightgrey;

  @media (min-width: @desktop-width) {
    background-color: @white;
    position: relative;
  }
}

.contacts--index {
  background-color: @white;
  position: relative;
}

.contacts--index .contacts__wrapper {
  background-color: @white;
}

.contacts__wrapper {
  margin: 0 auto;
  padding: 29px 24px 20px 20px;
  min-height: 114px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  background-color: @lightgrey;

  @media (min-width: @tablet-width) {
    padding: 63px 72px 60px 70px;
    width: 100%;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 201px;
    background-color: @white;
    padding: 65px 90px 60px 74px;
    position: absolute;
    left: 145px;
    top: 93px;
  }
}

.contacts__description {
  margin: 0;
  .regular-font(16px; 20px; 400);
  text-transform: uppercase;
  width: 123px;

  @media (min-width: @tablet-width) {
    .regular-font(20px; 25px; 400);
  }
}

.contacts__adress {
  width: 135px;
  font-family: "Arial", sans-serif;
  .regular-font(14px; 20px; 400);
  color: #444444;

  @media (min-width: @tablet-width) {
    .regular-font(16px; 20px; 400);
    width: 155px;
    min-height: 80px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.contacts__adress p {
  margin: 0;
}

.contacts__map {
  margin: 0 auto;
  min-height: 363px;
  display: block;
  position: relative;
  width: 100%;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;


  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    height: 395px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }
}

.contacts__map iframe {
  width: 100%;
  height: 363px;
  border: none;

  @media (min-width: @tablet-width) {
    height: 395px;
  }
}
