.copyright {
  padding-top: 6px;

  @media (min-width: @tablet-width) {
    width: 165px;
    margin: 0;
    padding: 0;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  text-decoration: none;
  color: #444444;
  .regular-font(16px; 16px; 400);
  fill: @icon-grey;

  &:hover {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__icon {
  width: 40px;
  height: 64px;
  margin-right: -6px;
}
