.page-main__title {
  margin: 0 auto;
  width: 88%;
  padding: 16px 20px 26px 20px;
}

@media (min-width: @tablet-width) {
  .page-main__title {
    margin-top: 57px;
    margin-bottom: 54px;
    padding: 0;
    width: 708px;
    .regular-font(60px; 60px; 400);
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    margin-top: 65px;
    margin-bottom: 23px;
    width: 1220px;
  }
}
