.results {
  border-top: 1px solid @usage-border-grey;
  padding: 20px;
  padding-right: 22px;
  background-color: @lightgrey;
  box-sizing: border-box;
  .mobile-center (); /*temp*/
}

@media (min-width: @tablet-width) {
  .results {
    width: 768px;
    background-color: @white;
    padding: 40px 40px 0 30px;
  }
}

.results__title {
  margin: 0;
  margin-bottom: 23px;
}

@media (min-width: @tablet-width) {
  .results__title {
    .regular-font (60px; 60px; 400);
  }
}

.results__description {
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .results__description {
    .regular-font (16px; 24px; 400);
    margin-top: 64px;
  }
}


@media (min-width: @desktop-width) {/*temp*/
  .results {/*temp*/
    width: 1220px;/*temp*/
  }
}
