.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  padding: 0;
  margin: 20px auto;
  width: 130px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
