.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
  }
}

.social__list {
  .list-reset();
  margin: 24px 60px 15px 72px;
  width: 125px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .social__list {
    margin: 0;
    align-items: center;
    padding-left: 20px;
  }
}

.social__link--icon {
  fill: @icon-grey;

  &:hover {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social__link--vkontakte .social__link--icon {
    width: 30px;
    height: 30px;
  }

  .social__link--instagram .social__link--icon {
    width: 22px;
    height: 22px;
  }

  .social__link--facebook .social__link--icon {
    width: 15px;
    height: 27px;
  }
}
