.usage {
  padding: 19px;
}

.usage__list {
  margin: 0;
  margin-left: 41px;
}

.usage-item {
  padding: 0;
  margin-bottom: 24px;
}

.usage__title {
  margin: 0;
  margin-bottom: 27px;
}

.usage__description {
  margin: 0;
  font-family: "Arial", sans-serif;
}
